<!DOCTYPE html>
<html>

<head>
    <title>Hồ sơ được duyệt</title>
</head>

<body>
    <p>Chào {{ userName }},</p>
    <p>Chúc mừng! Hồ sơ đăng ký làm tư vấn viên của bạn tại <strong>{{ appName }}</strong> đã được phê duyệt.</p>
    <p>Bây giờ bạn có thể đăng nhập vào hệ thống và bắt đầu công việc của mình.</p>
    <p>
        <a href="{{ loginUrl }}">Đăng nhập ngay</a>
    </p>
    <p>Cảm ơn bạn đã tham gia cùng chúng tôi!</p>
    <p>Trân trọng,<br />Đội ngũ {{ appName }}</p>
</body>

</html>